
			@page Section1 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section1 { page:Section1 }
			@page Section2 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section2 { page:Section2 }
			@page Section3 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section3 { page:Section3 }
			@page Section4 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section4 { page:Section4 }
			@page Section5 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section5 { page:Section5 }
			@page Section6 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section6 { page:Section6 }
			@page Section7 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section7 { page:Section7 }
			@page Section8 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section8 { page:Section8 }
			@page Section9 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section9 { page:Section9 }
			@page Section10 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section10 { page:Section10 }
			@page Section11 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section11 { page:Section11 }
			@page Section12 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section12 { page:Section12 }
			@page Section13 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section13 { page:Section13 }
			@page Section14 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section14 { page:Section14 }
			@page Section15 { size:432pt 648pt; margin:54.7pt 43.2pt 54.7pt 54.7pt }
			div.Section15 { page:Section15 }
		